<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giỏ Hàng</title>
  <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="poly1.css">
  <link rel="stylesheet" href="app.js">
</head>

<body >
  <div class="container m-auto ">
   

  
     
       
       
   
          



      
        <aside class=" m-e ">
           <div class="row fa-sborder col-md-6 m-auto " ng-repeat="sp in cart" ng-init="index = $index">
       
        
            <div class="col-4">
              <div class=""><img ng-src="{{sp.img}}" width="100%" height="200px">
                
       </div>
                 </div>  
         <div class="col-8">
       
            <div class="">
              <b>Giá: <b> {{sp.price | currency:'':0}} VNĐ</b></b> <br> <hr>
             
             <b>Số Lượng</b> 
           <button class="btn btn-primary" ng-click="decrementQuantity(sp)">-</button>
           <b> {{sp.quantity}}</b>
           <button class="btn btn-primary" ng-click="incrementQuantity(sp)">+</button>
      
           <hr>
           <div class="col-sm-8">Tạm Tính: 
            <b>{{sp.quantity * sp.price | currency:'':0}} VNĐ</b></div>
           <button class="btn btn-primary" ng-click="removeItem(index)">Xóa Sản Phẩm</button></div>     
           <hr>
           </div>
           
          
       
          </div>
         <div class="row">
 
   <div class=""> <b>Tổng Cộng:{{ totalAmount | currency:'':0 }} VNĐ </b><hr></div>
   

   
    <div class="row">
  
       <p>Vận Chuyển Tới</p>
       <form action="" class="" name="formdathang">
  <br>

    <div class="col-6">
        <select class="form-select rounded-4" style="height: 50px;" ng-model="city"
            ng-options="y.Name for (x,y) in cities">
            <option value="" selected>Tỉnh/ Thành phố</option>
        </select>
    </div>
    <div class="col-6">
        <select class="form-select rounded-4" style="height: 50px;" ng-model="district"
            ng-options="y.Name for (x,y) in city.Districts">
            <option value="" selected>Quận/ huyện</option>
        </select>
    </div>
    <div class="col-6">
        <select class="form-select rounded-4" style="height: 50px;" ng-model="ward"
            ng-options="y.Name for (x,y) in district.Wards">
            <option value="" selected>Phường/xã</option>
        </select>
        
    </div>
</form>
      
      
      </div>
      <hr>
        <div class="row">
          <div class="col-6"><p>Tổng</p></div>
          <div class="col-6"><b>{{ totalAmount | currency:'':0 }} VNĐ</b></div>
        </div>
        <button class="btn btn-primary">Thanh Toán</button>
            </div>
          
        </aside>
     


      

  </div>
  
     
  <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a9d08c2105.js" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script src="app.js"></script>
</body>

</html>   



      


      









   


  
  